@media screen and (max-width: 909px)
.footer, .header {
    padding: 0 20px 0 20px;
}
@media screen and (max-width: 1229px)
.footer, .header {
    padding: 0 40px 0 40px;
}
@media screen and (max-width: 1229px)
.footer, .header {
    display: block;
}
.footer, .header {
    display: none;
    background: #422;
    color: #c8b6b6;
    min-height: 40px;
    padding: 0 40px 0 360px;
    position: relative;
}
nav {
    display: block;
}
body {
    color: #333;
    background-color: #fdfefa;
    font-family: Alegreya,serif;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
}

@media screen and (max-width: 1229px)
.footer .content, .header .content {
    margin: auto;
}
@media screen and (max-width: 909px)
.footer .content, .header .content {
    padding-right: 0;
}
.footer .content, .header .content {
    font-family: freight-sans-condensed-pro,Alegreya,serif;
    max-width: 550px;
    line-height: 1;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 280px;
}
div {
    display: block;
}

.heading-font {
    font-family: 'Marcellus SC',sans-serif;
    text-transform: none;
    line-height: 1;
}



p,ul,dl,h1,h2 {
    padding: 0;
    margin: 0;
}


a       { color: #0275d8; text-decoration: none; }
a:hover { color: #013884; text-decoration: underline; }

ul {
    margin-bottom: 20px;
    padding-left: 20px;
}

p {
    margin-bottom: 20px;
}

h1,h2,h3,h4,h5 {
    margin-bottom: 1rem;
    font-weight: normal;
    line-height: 1.1;
}
h1 { margin-bottom: 1.5rem; }

.chalk {
    width: 100%;
    border: none;
    margin-bottom: 40px;
}


.collapse {
      display: none;
    color:#222;
    }
    .collapsed {
      display: block;
    }
    .collapse-btn {
      cursor: pointer;
      font-weight: bold;
      text-decoration: underline;
    }
